.container {
  background: #f0f0f0;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
  auto;
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;
}

.bg{
  background-image: url(../../assets/cat.png);
  width: 250px;
  height: 250px;
  background-size: cover;
  margin-left: 25%;
  margin-top: -5%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width:90%
}

.item {
  margin: 25px;
}

.content > div {
  position: absolute;
  width: 200px;
  height: 50px;
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  padding-left: 32px;
  font-size: 14.5px;
  background: lightblue;
  text-transform: uppercase;
  letter-spacing: 2px;
  touch-action: none;
}

.content > div{
  background: linear-gradient(135deg, #a2bde1 0%, #5e95e3 100%);
}
